<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApkaDamian30685"
        tools:targetApi="31">
        <activity
            android:name=".BazaDanychDopisz"
            android:exported="false"
            android:label="@string/BazaDanychDopisz"
            android:parentActivityName=".BazaDanychDopisz"
            android:theme="@style/MyAppTheme"
        />
        <activity
            android:name=".BazaDanychAktualizacja"
            android:exported="false"
            android:label="@string/BazaDanychAktualizacja"
            android:parentActivityName=".BazaDanychAktualizacja"
            android:theme="@style/MyAppTheme"
        />
        <activity
            android:name=".BazaDanych"
            android:exported="false"
            android:label="@string/title_activity_baza_danych"
            android:parentActivityName=".BazaDanych"
            android:theme="@style/MyAppTheme"
        />
        <activity
            android:name=".ObiektyLista"
            android:label="@string/obiekty_lista"
            android:parentActivityName=".ObiektyLista"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ObiektyInfo"
            android:label="@string/obiekty_info"
            android:parentActivityName=".ObiektyInfo"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".Konfiguracja"
            android:label="@string/departaments"
            android:parentActivityName=".Konfiguracja"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".Uczelnia"
            android:label="@string/departaments"
            android:parentActivityName=".Uczelnia"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".Czujniki"
            android:label="@string/sensors"
            android:parentActivityName=".Czujniki"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ObiektyUczelni"
            android:label="@string/obiekty_uczelni"
            android:parentActivityName=".ObiektyUczelni"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>